# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.lock.hcl

# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Misc files
*.tfvars
.*.swp
*.bak
*.log

# Packer manifests
packer_builds/*manifest.json
